$white: #fff;
$black: #000;

$navy950: #0E1323;
$navy900: #1C204B;
$navy800: #33397A;
$navy200: #BBC0FF;

$orange300: #FF8B64;

$purple700: #7335D2;
$purple600: #5747EA;
$purple500: #7078C9;

$blue300: #55C2E6;

$pink400: #FF5E7D;

$green400: #4BCF82;

$yellow300: #F1C75B;

$grey200: #D8D8D8;